.article{
    width: 500px;
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}

.article__header{
    display: flex;
    margin-bottom: 10px;
}


.article__header__title{
    margin-bottom: 7px;
}



.article__body{

}